$unit: 32px;
$gutter: 0.25rem;

// light
$gray: #dfdfdf;
$medium: #8f8f8f;
$on: #6f6f6f;
$bg: #fff;
:root {
  --gray: #{$gray};
  --medium: #{$medium};
  --dark: #{$on};
  --bg: #{$bg};
}

// dark
$d-gray: #0f0f0f;
$d-medium: #404040;
$d-on: #6f6f6f;
$d-bg: #000;
.adjust {
  --gray: #{$d-gray};
  --medium: #{$d-medium};
  --dark: #{$d-on};
  --bg: #{$d-bg};
}

@media (prefers-color-scheme: dark) {
  body {
    --gray: #{$d-gray};
    --medium: #{$d-medium};
    --dark: #{$d-on};
    --bg: #{$d-bg};
    &.adjust {
      --gray: #{$gray};
      --medium: #{$medium};
      --dark: #{$on};
      --bg: #{$bg};
    }
  }
}

* {
  // reset
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  // js events assume absolute document(0,0) = #stage(0,0)
  width: 100%;
  height: 100%;
}
html {
  // base
  font-size: 0.875rem;
  fieldset,
  label > span {
    font-size: 0.75rem;
    font-family: sans-serif;
  }

  body {
    touch-action: none;
    overflow: hidden;

    .w50 {
      width: 50%;
      float: left;
    }

    &.expand #tools {
      width: 64px;
      #ui label {
        text-align: center;

        span {
          display: none;
        }
      }
      .ico:nth-of-type(2n + 1) {
        clear: left;
      }
    }

    #tools {
      position: absolute;
      z-index: 3;
      width: 128px;
      background-color: var(--gray);

      .ico:nth-of-type(4n + 1) {
        clear: left;
      }

      fieldset {
        font-weight: normal;
        color: var(--medium);
        border: none;
        margin-bottom: ($gutter/2);

        .ico {
          // tooltips
          position: relative;
          &:after {
            pointer-events: none;
            font-family: monospace !important;
            color: var(--gray);
            background: var(--dark);
            content: attr(class);
            position: absolute;
            top: 0;
            left: 100%;
            font-size: 1rem;
            white-space: pre;
            opacity: 0;
            z-index: 99;
            overflow: hidden;
          }
          &:not(.drop-target):hover:after {
            opacity: 1;
            transition: opacity 0.25s linear 0.5s;
          }
        }

        label {
          position: relative;
          input[type="file"],
          input[type="color"],
          input[type="checkbox"],
          input[type="text"] {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: -9;
          }
          input[type="text"] {
            &:placeholder {
              color: var(--gray);
            }
          }
          input[type="checkbox"]:checked + input[type="text"] {
            opacity: 1;
            width: ($unit * 4);
            left: 100%;
            background: var(--gray);
            color: var(--dark);
          }
        }

        input,
        button,
        label {
          user-select: none;
          appearance: none;
          border: none;
          width: 100%;
          margin-bottom: ($gutter/2);
          padding: 0.5rem $gutter;
          background-color: var(--medium);
          color: var(--gray);
          white-space: nowrap;

          // ux

          span {
            pointer-events: none;
          }

          &:hover,
          &:active {
            background-color: var(--dark);
            cursor: pointer;
          }
        }

        hr {
          border: 0;
          border-top: ($gutter/2) solid var(--medium);
          margin: $gutter auto;
          width: 50%;
          opacity: 0.5;
        }
      }

      canvas,
      svg,
      .ico.fa-file-image:before {
        display: none;
      }

      &:before {
        text-align: center;
        display: block;
        color: var(--medium);
      }

      .drop-target {
        position: relative;
        z-index: 9;
        background-color: var(--gray);
      }
      .active {
        box-shadow: var(--dark) (-$gutter) 0 0 -1px inset;
      }
      .ico {
        box-shadow: var(--gray) 0px 0px 0px $gutter inset;
        opacity: 0.5;
        transition: transform 0.125s ease-out;

        // ux
        &:hover {
          opacity: 1;
        }

        &:before,
        img,
        textarea {
          transform: scale(0.5);
          text-align: center;
        }
        &:hover,
        &.drop-target {
          &:before,
          img,
          textarea {
            transform: scale(1);
          }
        }
      }

      .page {
        &.current {
          display: block;
        }
        display: none;
        &[data-title]:before {
          content: attr(data-title);
          display: block;
          padding: $gutter;
        }
      }

      #ui {
        position: absolute;
        left: 100%;
        width: 50%;
        padding: $gutter;
        background-color: var(--gray);
        z-index: 9;
      }
    }

    .ico,
    .sel {
      // ux
      touch-action: none;
      user-select: none;
      float: left;
      text-align: center;
      // ui
      width: $unit;
      height: $unit;
      font-size: $unit;
      //color: $medium;
      background-color: rgba(128, 128, 128, 0.125);
      border-radius: 0.25rem;

      &.sel {
        // stage
        position: absolute;
        &:hover {
          box-shadow: var(--gray) (-$gutter) (-$gutter) 0px $gutter inset;
        }
        &:not(:hover) {
          &:not(.edit) {
            opacity: 0.5;
          }
        }

        .art,
        .txt {
          padding: 0 0.5rem 0.25rem 0;
        }
      }

      &:before {
        // icon top-center
        z-index: 3;
        position: relative;
        width: 200%;
        display: block;
        margin-left: -50%;
      }

      .art:before,
      .txt:before {
        // icon
        position: absolute;
        font-size: $unit;
        top: 0;
        left: 0;
      }

      &.art,
      .art {
        img {
          width: 200%;
        }
        img,
        canvas,
        svg {
          // fit visible
          margin: auto;
          max-width: 100%;
          max-height: 100%;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2Nk+M/QwMDI0MAABYxgGkkQIoAkiBCACgIABm4HhEEa4PgAAAAASUVORK5CYII=");
        }
        svg {
          // responsive
          width: auto;
          height: auto;
          polygon {
            stroke: black;
          }
        }
        a {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .art {
        width: 100%;
        height: 100%;
      }

      &.txt {
        &:before {
          content: attr(data-content);
        }
      }
      .txt,
      .txt textarea {
        height: 100%;
      }
      &.txt,
      .txt {
        // editable message
        //user-select: none;
        overflow: visible;

        &.ico textarea {
          pointer-events: none;
        }
        .txt {
          before: "A";
        }

        textarea {
          font-size: $unit;
          width: 100%;
          height: 100%;
          resize: none;
          border: 0;
          background: transparent;
          overflow: hidden;
          color: inherit;
        }

        &.serif textarea {
          font-family: serif;
        }
        &.sans-serif textarea {
          font-family: sans-serif;
        }
        &.monospace textarea {
          font-family: monospace;
        }
        &.cursive textarea {
          font-family: cursive;
        }
        &.fantasy textarea {
          font-family: fantasy;
        }
        &.system-ui textarea {
          font-family: system-ui;
        }
        &.fangsong textarea {
          font-family: fangsong;
        }
        &.emoji textarea {
          font-family: emoji;
        }

        //font-size: $unit;
      }
    }

    #stage {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      .sel {
        .art {
          // performant group-draw resolutions
          content-visibility: auto;
          contain-intrinsic-size: ($unit * 8) ($unit * 8);
        }
        display: table; // flex makes svg (0x0) on v-resize (w>h)
        > div {
          display: table-cell;
          vertical-align: middle;
        } //or table-cell vertical-align
        // scale icon
        .fas:before {
          display: block;
          //transform: scale(1);
          transition: transform 0.25s;
        }
        @for $i from 1 through 32 {
          $frc: ($i/2);
          &[data-scale="#{$frc}"] .fas:not(.art):not(.txt):before {
            font-size: #{$frc + "em"};
          }
        }
      }

      .sel .txt {
        text-align: left;
        display: inline-block;
        height: inherit;
        width: 100%;
      }

      // ui

      &.drop-active {
        background-color: var(--dark);
      }

      &.edit .sel {
        opacity: 1;
      }

      // grid background
      $dot-size: 2px;
      background: linear-gradient(
            90deg,
            var(--bg) ($unit - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient(var(--bg) ($unit - $dot-size), transparent 1%) center,
        var(--gray);
      background-size: $unit $unit;
      background-position: 0 0;
    }
  }

  * {
    line-height: 1;
  }
}
